@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pretendard', sans-serif;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;

  width: 27rem;
  margin: 3rem auto;
}

#logo {
  display: block;
  margin: 3rem auto;

  width: 20rem;
  fill: black;
}

#logo .cls-2 {
  isolation: isolate;
}

#logo .cls-3 {
  fill-rule: evenodd;
}

#logo #devonnuri path {
  opacity: 0;
}

#logo #Eye_1 {
  transform: translateY(100px);
}

#logo #Eye_2 {
  transform: translateY(100px);
}

#logo #Brush {
  transform: translateY(-100px);
}

main > div p {
  margin: 0.7rem 0;
}

main > div h3, main > div h4 {
  margin: 1.3rem 0 0.7rem 0;
}

li:before {
  content: ' - ';
}

a {
  color: blue;
}